/*master style*/

body{
    margin: 100px;
}

.mainImage{
    display: flex;
    margin: 100px;
    border: 10px;
    border-radius: 10%;
    padding: 10px;
    width: 1200 px;
    height: 800 px;
}
.mainImage img{
    width: 30%;
    height: auto;
}


